@use '@/styles/abstracts' as *;

.product-page-container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 2rem;
}

.bread-and-search,
.cats-and-filter {
  width: 100%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-header {
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  font-family: $font-stack-heading;
  font-size: 48px;
  margin: 0;
  min-height: 80px;

  span {
    font-size: 20px;
    margin-left: 10px;
  }
}

.prod-list {
  --prod-columns: 5;
}

.prod-list {
  padding: 0;
  margin: 32px 0 0 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(var(--prod-columns), 1fr);
  grid-auto-flow: row;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

li.prod-list-item {
  display: flex;
  flex-direction: column;
}

.page-break {
  width: 100%;
  height: 1px;
  border: none;
  background: none;
}

.prod-loader {
  display: block;
  margin: 15px auto;
}

@media screen and (max-width: $break-lg) {
  .prod-list {
    --prod-columns: 3;
  }
}

@media screen and (max-width: $break-md) {
  .prod-list {
    --prod-columns: 2;
  }
}

.loadMore {
  @include button-reset;
  display: block;
  width: 100%;
  max-width: r(250px);
  margin-inline: auto;
  margin-top: r(50px);
  background-color: $color-neutral-light;
  color: $color-on-neutral-light;
  padding: r(10px);
  border-radius: r(5px);
  user-select: none;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Sort and filters */

$col-gap: r(10px);

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: r(50px);
}

.cancelFilterGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $col-gap;
}

.openSidebarGroup {
  margin-block: r(20px);
  display: flex;
  gap: r(20px);
}

/* Filters */

@mixin hoverBorderDecoration {
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

.cancelFilterList {
  @include list-reset;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: $col-gap;
}

.cancelFilterItem {
  &Button {
    @include button-reset;
    padding: r(5px) r(10px);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: r(20px);
    color: $color-on-neutral-light-pale;
    background-color: $color-neutral-light;
    border-radius: r(10px);
    user-select: none;
    &:hover &Icon {
      color: $color-danger;
    }
    &:active {
      opacity: 0.75;
    }
  }
}

.clearFiltersButton {
  @include button-reset;
  @include hoverBorderDecoration;
  width: max-content;
  display: inline-flex;
  gap: r(5px);
  font-weight: bold;
  color: $color-on-primary;
  &:active {
    color: $color-info;
  }
}

.openSidebarButton {
  @include button-reset;
  @include hoverBorderDecoration;
  display: flex;
  align-items: center;
  gap: r(5px);
  font-weight: bold;
  color: $color-on-primary;
  &:active {
    color: $color-info;
  }
  &Icon {
    display: flex;
    align-items: center;
  }
}
