@use '@/styles/abstracts' as *;

.sidebar {
  padding: r(10px) r(32px);
  position: absolute;
  top: $global-header-height;
  right: 0;
  z-index: $z-index-4-sidebar;
  background-color: $color-neutral-light;
  color: $color-on-neutral-light;
  border-radius: r(10px);
  min-width: 400px;
  max-height: 100vh;
  overflow-y: auto;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  font-family: $font-stack-heading;
  font-size: 32px;
}

svg.heading-icon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.closeButton {
  @include clickable;
  border: none;
  outline: none;
  background-color: transparent;
  svg {
    height: 25px;
    width: 25px;
  }
}

.list {
  list-style: none;
  padding: 0;
}

.group {
  &Name {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-family: $font-stack-text;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    display: flex;
    height: 66px;
    padding: 10px 32px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(207, 207, 207, 0.3);
  }
}

.item {
  overflow: hidden;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-family: $font-stack-text;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  display: flex;
  padding: 10px 32px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(207, 207, 207, 0.3);
}

.check-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 66px;
  padding: 10px 32px;
  border-top: 1px solid rgba(207, 207, 207, 0.3);

  label {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.option {
  list-style: none;
  padding-bottom: 16px;
  &Name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
  }
  &VariantGroup {
    display: grid;
    gap: r(2px);
    list-style: none;
    padding-left: 10px;
  }
}
