@use '@/styles/abstracts' as *;
@use './MainPage.module.scss' as mainPage;

.container {
  --header-height: 117px;
  --hero-min-height: 777px;
  --hero-max-height: 777px;
  --partners-height: 120px;
}

.container {
  height: clamp(
    var(--hero-min-height) + var(--partners-height),
    100svh - var(--header-height),
    var(--hero-max-height) + var(--partners-height)
  );
  max-width: 2200px;
  margin-inline: auto;
  display: grid;
  grid-template-rows:
    minmax(var(--hero-min-height), var(--hero-max-height))
    max-content;
}

.hero {
  position: relative;
  padding-inline: r(32px);
  isolation: isolate;
}

.background {
  &,
  * {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  user-select: none;
  overflow: hidden;
  border-radius: 10px;

  .image {
    object-fit: cover;
  }

  .mask {
    z-index: $z-index-1-overlap;
    background: linear-gradient(
      185deg,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.5)
    );
  }
}

.content {
  position: absolute;
  left: 10%;
  bottom: 15%;
  z-index: $z-index-2-overlap;
}

.heading {
  min-width: max-content;
  margin: 0;
  margin-bottom: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  font-family: $font-stack-heading;
  line-height: 1.1;
}

.partnersContainer {
  height: var(--partners-height);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.partners {
  --gap: 32px;
}

.partners {
  @include mainPage.container-large;
  margin-inline: initial;

  flex-basis: 100%;
  padding: var(--gap);
  padding-bottom: 0;
  gap: var(--gap);
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.singlePartner {
  width: clamp(35px, 100%, 135px);
  max-height: 100%;
  object-fit: contain;
}

.button {
  @include mainPage.button;
  @include mainPage.buttonExtendSmall {
    padding-inline: r(30px);
  }
}

@media screen and (max-width: $break-xxl) {
  .container {
    --hero-min-height: 600px;
    --hero-max-height: 777px;
  }
}

@media screen and (max-width: $break-lg) {
  .container {
    --hero-max-height: 458px;
    --hero-min-height: 322px;
    --partners-height: 115px;
  }
  .heading {
    font-size: 3.75rem;
  }
}

@media screen and (max-width: $break-sm) {
  .container {
    --hero-min-height: 350px;
    --hero-max-height: 350px;
    --partners-height: 65px;
  }
  .heading {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  .partners {
    --gap: 24px;
  }
}
