@use '@/styles/abstracts' as *;

.productCard {
  display: flex;
  padding: 40px;
  gap: 72px;
}
.imageBlock {
  width: 446px;
  @media (max-width: $break-lg) {
    width: 300px;
  }
}
.image {
  max-width: 100%;
}
@mixin price {
  margin: 0;
  font-family: $font-stack-heading;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.price {
  @include price;
}
.crossed {
  text-decoration: line-through;
}
.pricePromo {
  @include price;
  color: $color-danger;
}
.textBlock {
  max-width: 574px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 1;
}
.itemTitle {
  margin: 0;
  font-family: $font-stack-heading;
  color: $color-neutral-light;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-transform: capitalize;
}
.priceBlock {
  display: flex;
  gap: 16px;
}
.description {
  margin: 0;
  color: $color-neutral-light;
  font-family: $font-stack-text;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tools {
  display: flex;
  gap: 16px;
}
@mixin toolsItem {
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 10px;
  gap: 16px;
  background-color: $color-neutral-light;
  color: $color-neutral-dark;
  font-family: $font-stack-text;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.qtyWrapper {
  @include toolsItem;
}
.qtyBtn {
  @include clickable;
  background-color: transparent;
  border: none;
}

.btn {
  @include toolsItem;
  @include clickable;
}
.qty {
  margin: 0;
  color: $color-neutral-dark;
}
