@use '@/styles/abstracts' as *;

.logo {
  display: flex;
  align-items: center;
  gap: r(10px);
  font-size: 1.1rem;
  font-weight: bold;
  color: $color-on-primary;
  line-height: 1;

  .iconContainer {
    display: flex;
  }

  &:hover {
    text-decoration: underline;
  }

  &.invert {
    color: $color-on-neutral-light;
  }
}
