@use '@/styles/abstracts' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  gap: r(26px);
  font-size: 1.2rem;
  padding: r(26px) r(52px);
  mix-blend-mode: difference;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.logo-img {
  margin-right: r(13px);
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: r(64px);
  list-style: none;
  margin-right: r(64px);
}

.authlink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: r(220px);
  height: r(52px);
  border-radius: r(10px);
  border: r(1px) solid $color-neutral-light;
}
