@use '@/styles/abstracts/vars' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  gap: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  padding: 1.6rem 3.2rem;
  mix-blend-mode: difference;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.logo-img {
  margin-right: 0.7rem;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  list-style: none;
  margin-right: 4rem;
}

.authlink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.7rem;
  height: 3.2rem;
  border-radius: 10px;
  border: 1px solid $color-neutral-light;
}
