@import '../../styles/index.scss';

.page {
  background-color: $main-black;
  width: 100%;
  padding: 190px 47px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: $main-white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  @media (max-width: $breakpoint-tablet) {
    padding-top: 163px;
  }
}

.img {
  width: 462px;
  height: 240px;
  @media (max-width: $breakpoint-tablet) {
    width: 245px;
    height: 133px;
  }
}

.mainText {
  font-size: 36px;
  font-style: normal;
  margin: 0;
  max-width: 500px;
  text-align: center;
  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
  }
}

.supplText {
  font-size: 24px;
  font-style: normal;
  margin: 0;
  max-width: 500px;
  text-align: center;
  @media (max-width: $breakpoint-tablet) {
    font-size: 20px;
    margin-top: -7px;
  }
}

.link {
  font-weight: 700;
  color: $extra-accent;
  margin: 0;
  text-decoration: underline;
}
